body {
  background-color: /*#C64519 */rgba(238,166,62, 1) 
  text-align: center 
  overflow: hidden 
}

#background {
  height: 100vh 
  width: 100vw 
  background-image: url('back.jpg') 
  margin: -0.5em 
  background-repeat: no-repeat 
  background-size: cover 
  opacity: 0.6 
  z-index: -1 
  position: absolute 
}

.logo {
  height: 30vh 
  margin-bottom: 4vh 
  -webkit-touch-callout: none 
  -webkit-user-select: none 
  -khtml-user-select: none 
  -moz-user-select: none 
  -ms-user-select: none 
  user-select: none 
}

main {
  line-height: 10px 
  display: table 
  margin: auto 
  height: 90vh 
}

.container {
  width: 60vw 
  display: table-cell 
  vertical-align: middle 
  text-align: center 
}

.box {
  color: /*#C64519 */#D40000 
  border-radius: 4em 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6) 
  background: rgba(255,255,255,0.5) /*rgba(255,208,79,0.7) */
  padding: 1.5em 1em 1.5em 1em 
  margin: auto 
  min-width: 250px 
  max-width: 30vw 
  height: 175px 
}

.box, main {
  vertical-align: middle 
}

p, input {
  display: inline-block 
  margin: 15px 5px 15px 5px 
}

p {
  font-size: 1.1em 
  font-weight: bolder 
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5) 
}

.text-input {
  background-color: transparent 
  border: none 
  border-bottom: 1px solid #C64519 !important 
  color: white 
  min-width: 100px 
  width: 10vw 
}

.button {
  color: /*#C64519 */ #D40000 
  text-shadow: 1px 1px 0px rgba(0,0,0,0.7) 
  font-size: 1.4em 
  font-family: inherit 
  padding: 0.8em 
  background: none 
  border: none 
  cursor: pointer 
  -webkit-transition: 0.1s ease-out all 
  font-weight: bolder 
}

.button:hover {
  color: /*#EEA63E */#FFAE00  
  font-size: 1.5em 
  -webkit-transition: 0.1s ease-out all 
}
